
/*
====================================================

* 	[Master Stylesheet]

====================================================

	TOC
	
	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
	3. HEADER
	4. INTRO SECTION
	5. PORTFOLIO SECTION
    6. ABOUT SECTION
	7. EXPERIENCE SECTION
	8. PROJECT SECTION
	9. COUNTER SECTION
	10. FOOTER

	11. BTN STYLES
    12. QUALIFICATIONS
    13. EDUCATION

====================================================


/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */
/**,*/
/**::before,*/
/**::after {*/
    /*box-sizing: border-box;*/
/*}*/
    
html{ font-size: 100%; height: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }


body{ font-size: 16px; font-family: 'Poppins', serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #777; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Poppins', cursive; }

p{ line-height: 1.6; font-size: 1.05em; font-weight: 400; color: #777; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.2em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.3em; }
h5{ font-size: 1em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; line-height: 1; 
	-webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #FFA804; }

b{ font-weight: 600; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

b.max-bold{ font-weight: 700; }



/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.section{ padding: 100px 0 50px; }

.section .heading{ margin-bottom: 60px; }

.section .heading:before{ content:''; height: 10px; width: 50px; border-radius: 5px;
	margin-bottom: 20px; display: block; background: #FFA804; }

.margin-t-10{ margin-top: 10px; }
.margin-t-30{ margin-top: 30px; }


.margin-b-10{ margin-bottom: 10px; }
.margin-b-30{ margin-bottom: 30px; }
.margin-b-50{ margin-bottom: 50px; }

.margin-tb-20{ margin-top: 20px; margin-bottom: 20px; }
.margin-tb-30{ margin-top: 30px; margin-bottom: 30px; }

.font-yellow{ color: #FFA600; }

.font-purple{ color: #28023d; }

.font-semi-white{ color: #ddd; }

.font-lite-black{ color: #999; }

.fas {
    color: #28023d;
}

.fas:hover {
    color: #FFA600;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}


/* ---------------------------------
3. HEADER
--------------------------------- */

header{ position: absolute; top: 30px; left: 0; right: 0; z-index: 100; }

header .heading-wrapper{ border-radius: 5px; padding: 30px 40px 20px; background: #337ab7; color: #fff; }

header .info{ margin-bottom: 10px; }

header .info .icon{ float: left; font-size: 30px; }

header .info .right-area{ margin-left: 45px; }

header .downlad-btn{ padding: 15px 30px; border-radius: 4px; float: right; margin-top: 30px;
	box-shadow: inset 0 0px 4px rgba(0,0,0,.3); background: #FFAD01; color: #fff;
	-webkit-transition: all .2s ease; transition: all .2s ease; }

header .downlad-btn:hover{ -webkit-transform: translateY(-4px); transform: translateY(-4px); }


/* ---------------------------------
4. INTRO SECTION
--------------------------------- */

.intro-section{ padding-top: 150px; position: relative; background-size: cover;
	z-index: 1; background-image: url(../images/mountain-1920-1080.jpg); background-position: 0% 175%;}

.intro-section:before{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }
	
.intro-section:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;
	height: 150px; z-index: -1; background: #ffffff; }

.intro{ padding: 0 20px; margin-top: 30px; margin-bottom: 20px; text-align: center; background: #fff; }

.intro .profile-img{ height: 200px; width: 200px; border-radius: 100px; margin: 0 auto; 
	overflow: hidden; position: relative; top: -100px; margin-bottom: -70px;  }

.intro .information > li{ display: block; margin: 5px 0; }

.intro .social-icons > li > a{ height: 35px; line-height: 35px; width: 35px; border-radius: 20px; 
	overflow: hidden; z-index: 1; position: relative; margin: 0 5px 5px; background: #28023d; color: #fff; }

/*.intro .social-icons > li > a:after{ content: ''; position: absolute; bottom: 0; left: 0; right: 0;*/
	/*top: 0; z-index: -1; border-radius: 20px; background: rgba(71, 2, 105, 0.75);*/
	/*-webkit-transition: all .2s ease; transition: all .2s ease;*/
	/*-webkit-transform: scale(0); transform: scale(0); }*/

.intro .social-icons > li > a:hover{
    color: #ffab00;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.toggle-portfolio {
    margin-top: 20px; 
    margin-bottom: 20px;
}



/* ---------------------------------
5. PORTFOLIO SECTION
--------------------------------- */

.portfolio-section{ padding-bottom: 0; }

.portfolio-section .portfolioFilter{ margin-top: 60px; color: #666; }

.portfolio-section .portfolioFilter a{ margin: 10px 10px 0 0; }

.portfolio-section .portfolioFilter a.current{  color: #FFA804; }

.portfolio-section .portfolioContainer{ margin-left: -15px; margin-right: -15px; }

.portfolio-section .p-item{ width: 33.333%; padding: 0 7.5px 0px; margin-top: 15px; }

.portfolio-section .p-item a{ display: inline; }

.portfolio-section .p-item.p-item-2 .img:first-child{ float: left; width: 50%; padding-right: 7.5px; }

.portfolio-section .p-item.p-item-2 .img:last-child{ float: right; width: 50%; padding-left: 7.5px; }


/* ---------------------------------
6. ABOUT SECTION
--------------------------------- */

/* .radial-progress{ position: relative; max-width: 200px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500; 
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #777; } */



.about-section{ background: #28023D; color: #eee; }
    
.about-wrapper p {
    color: #ddd
}

/* ---------------------------------
7. EXPERIENCE SECTION
--------------------------------- */

/*.experience-section{ background: #28023D; color: #fff; }*/

.experience-wrapper{ position: relative; }

.experience-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
    width: 2px; background: #ccc; }

.experience-wrapper .experience{ position: relative; }

.experience-wrapper .experience:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px;
    height: 16px; border-radius: 10px; z-index: 1;
    box-shadow: 0 0 0 8px rgba(255, 171, 0, 0.4); background: #ffab00; }

/*.experience-wrapper .experience .logo { position: absolute; top: 0px; left: -250px; width: 150px; height: 150px; z-index: 1;}*/

.experience .list > li{ display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.experience .list > li:before{ content: ''; position: absolute; top: 12px; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #ccc; }


	
/* ---------------------------------
8. PROJECT SECTION
--------------------------------- */

.project-section{ background: #28023D; color: #eee; }


.project-wrapper{ position: relative; }

.project-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
	width: 2px; background: #ccc; }

.project-wrapper .project{ position: relative; }

.project-wrapper .project:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px;
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255,171,0, .4); background: #FFAB00; }

.project .list > li{ color: #ddd; display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.project .list > li:before{ content: ''; position: absolute; top: 12px; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #ccc; }
	
/* ---------------------------------
9. COUNTER SECTION
--------------------------------- */

.counter-section{ position: relative; padding: 100px 0 70px; background-size: cover; z-index: 1; 
	background-image: url(../images/slider-2-1920x600.jpg); color: #fff; }

.counter-section:after{ content:''; z-index: -1; position: absolute; top: 0; bottom: 0; left: 0; 
	right: 0; background: rgba(0,0,0, .2); }

.counter{ position: relative; }
	
.counter .title{ text-align: right; margin-right: 130px; }

.counter .desc{ position: absolute; bottom: 4px; right: 0px; width: 110px; }


/* RADIAL PREOGRESS SECTION */


.radial-progress{ position: relative; max-width: 200px; margin: 0 auto; }

.radial-progress .progressbar-text{ font-size: 2.2em; font-weight: 500; 
	padding-bottom: 25px!important; color: #333!important; }

.radial-progress .progressbar-text:after{ content:'%'; }

.radial-progress .progress-title{ position: absolute; top: 50%; left: 50%; width: 100%;
	letter-spacing: 0; text-align: center; transform: translate(-50%, 15px); color: #777; }

	
	
/* ---------------------------------
10. FOOTER
--------------------------------- */
footer {background: #28023D}
.copyright{ color: #ddd; text-align: center; padding: 30px 0;  }

/* ---------------------------------
11. BTN STYLES
--------------------------------- */

.btn-section{ padding-top: 100px; }

.btn{ margin: 0 10px 10px; padding: 12px 30px; border-radius: 5px; }

.btn-bg-yellow{ border: 1px solid #FFAD01; background: #FFAD01; color: #fff; }

.btn-bg-purple{ border: 1px solid #28023D; background: #28023D; color: #fff; }

.btn-border-purple{ border: 1px solid #28023D; color: #222; }

.btn-color-yellow{ border: 1px solid #28023D; background: #28023D; color: #FFAD01; }


.btn-bg-yellow:hover{ background: none; color: #111; }

.btn-bg-purple:hover{ background: none; color: #111; }

.btn-border-purple:hover{ background: #28023D; color: #ffab00; }

.btn-color-yellow:hover{ background: none; color: #111; }


/* ---------------------------------
12. SIDEBAR MENU
--------------------------------- */
#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(40, 2, 61, 0.91);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    display: block;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
    /*color: #fff;*/
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #343a40;
}

/* ---------------------------------
13. QUALIFICATIONS
--------------------------------- */

.qualifications-section{ background: #28023D; color: #fff; }
/*.qualification > p{ color: #ddd; }*/
.qualification .list > li{color: #ddd; display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.qualification .list > li:before{ content: ''; position: absolute; top: 12px; left: 0; height: 10px;
    width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #ddd; }

/* ---------------------------------
14. EDUCATION
--------------------------------- */


.education-wrapper{ position: relative; }

.education-wrapper:after{ content:''; position: absolute; top: 8px; bottom: 0; left: -51px;
	width: 2px; background: #ccc; }

.education-wrapper .education{ position: relative; }

.education-wrapper .education:after{ content:''; position: absolute; top: 8px; left: -58px; width: 16px;
	height: 16px; border-radius: 10px; z-index: 1;
	box-shadow: 0 0 0 8px rgba(255,171,0, .4); background: #FFAB00; }

.education .list > li{ display: block; position: relative; margin-bottom: 10px; padding-left: 20px; }

.education .list > li:before{ content: ''; position: absolute; top: 12px; left: 0; height: 10px;
	width: 10px; margin-top: -5px; display: block; border-radius: 10px; border: 2px solid #ccc; }
    
    